# Python
__pycache__/
*.py[cod]
*.class
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / IDE
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
